.animated-heading {
    color: green;
    animation: heading-animation 5s ease-in-out infinite;
}

.green-heading {
    position: relative;
}

.green-heading::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
    animation: underline-animation 2s linear infinite;
}

@keyframes underline-animation {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes heading-animation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Card animation*/
.service-card {
    animation: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.service-card::after {
    /* Border animation */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    /* Transparent border initially */
    animation: animate-border 3s ease-in-out infinite;
}

@keyframes animate-border {
    0% {
        border-top-color: green;

    }

    25% {
        border-top-color: transparent;

        border-right-color: green;

    }

    50% {
        border-right-color: transparent;

        border-bottom-color: green;

    }

    75% {
        border-bottom-color: transparent;
        /* Green border disappears from bottom */
        border-left-color: green;
        /* Green border moves to left */
    }

    100% {
        border-left-color: transparent;

    }
}